div#body-container {
    margin-top:-20px;
    padding-top:18px;
}
h2 {
    margin-top:0;
}
div.menu-elem-content:hover, div.menu-elem-content.selected {
    padding-bottom:10px;
}
div.blue-selector {
    margin-top:-20px;
}
/* Correct h1*/
div#main-content h1 {
    padding:10px 0 0 55px;
    margin-bottom:8px;
}
/*Correct left-menu*/
div.left-menu {
    margin-top:-8px;
}
ul {
    margin-left:6px;
    list-style-type:disc;
    list-style-position: inside;
}
div.left-menu ul {
    margin-left:20px;
}
div.main-content-subject {
    margin:4px 0 0 15px;
    min-height:404px;
    padding-bottom:15px;
}
div#gallery-container {
    padding-top:4px;
}
div#thumbs {
    width:509px;
}
ul.thumbs {
    margin:0 0 0 4px;
}
div#informations div
{
    width:17.45em;
}
div#informations div#practical-informations {
    width:16.2em;
}
div#logo {
    padding-top:8px;
}
div#logo-sub-name {
    margin-top:69px;
}
div.caption {
    padding:0 5px 5px 0;
}
div#caledonie-foreground {
    padding-left:174px;
}
div#caledonie-foreground ul {
    margin-right:-18px;
}
div#home-logo div#belgium-foreground ul {
    margin-left:0;
}