body {
    background-color: #937b71;
}
a {
    text-decoration:none;
    color:white;
}
.hidden {
    display:none;
}
div#body-container {
    width:950px;
    margin:auto;
    margin-top:-8px;
    padding-top:9px;
    padding-left:19px;
    border: 1px solid white;
    border-top-style: none;
}
.rounded-corners {
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
}
div#top-menu {
    background-color:#37262D;
    height:74px;
    color:white;
    font-family: 'Gudea', Helvetica, sans-serif;
}
div.menu-elem {
    margin:auto;
    margin-left:18px;
    padding-right:18px;
    padding-top:54px/*3.3em*/;
    float:left;
    border-right:2px dashed #323D44;
    height:20px;
    min-height:20px;
}
div.menu-elem-content:hover, div.menu-elem-content.selected {
    margin-top:-10px;
}
div.menu-elem-content:hover a, div.menu-elem-content.selected a {
    color:#0099A1;
}
div.white-selector {
    position:relative;
    font-size:1.3em;
    text-align:center;
    margin-top:-63px;
/*    margin-bottom:28px;*/
}
div.blue-selector {
    position:relative;
    text-align:center;
    color:#0099A1;
    margin-top:-26px;
    margin-bottom:29px;
    font-size:1.1em;
}