div#main-content hr {
    margin:0 0 0 124px;
}
div.left-menu {
    padding-right:4px;
}
div.main-content-subject {
    min-height:431px;
}
div#thumbs {
    margin-top:-9px;
}
div#thumbs li img {
    margin-top:0.5em;
}
div#logo {
    height:147px;
}