body {
    background-color: #937b71;
    font-family: 'Gudea', Verdana, sans-serif;
}
h2 {
    font-size:12pt;
    margin:15px 0 0 0;
}
p {
    font-size:10.5pt;
}
a {
    text-decoration:none;
    color:white;
}
ul {
    margin:0 0 0 -4px;
    letter-spacing:1pt;
}
ul a {
    color:#37262D;
}
li {
    padding:3px 0px 3px 0px;
}
li:hover a,  li.selected a {
    color:white;
}
ul.thumbs {
    margin:0 0 0 -36px;
    letter-spacing:0;
    list-style-type:none;
}
ul.thumbs li {
    display:inline;
}
ul.thumbs li img {
    border:2px solid #37262D;
    opacity:0.6;
}
ul.thumbs li.selected img, ul.thumbs li:hover img {
    border:2px solid white;
    opacity:1;
}
.hidden {
    visibility:hidden;
}
div#body-container {
    width:950px;
    height:624px;
    margin:auto;
    margin-top:-8px;
    padding-top:9px;
    padding-left:19px;
    border: 1px solid white;
    border-top-style: none;
}
.rounded-corners {
    border-radius:15px;
}
div#top-menu {
    background-color:#37262D;
    height:74px;
    color:white;
}
div.menu-elem {
    margin:auto;
    margin-left:18px;
    padding-right:18px;
    float:left;
    border-right:2px dashed #323D44;
    text-align:center;
    font-size:12pt;
}
div.menu-elem, div.menu-elem-content {
    height:74px;
    min-height:74px;
}
div.menu-elem-content:hover a, div.menu-elem-content.selected a {
    color:#0099A1;
}
div.menu-elem-selector {
    position:absolute;
    width:94px;
    margin-top:-10px;
}
div.menu-elem-selector.canada {
    position:absolute;
    width:54px;
}
div.menu-elem-selector.contact {
    position:absolute;
    width:106px;
}
div.menu-elem-text {
    padding-top:54px;
}
div.menu-elem-content:hover div.menu-elem-text, div.menu-elem-content.selected div.menu-elem-text {
    padding-top:44px;
}
div.white-selector {
    font-size:14pt;
}
div.blue-selector {
    font-size:11.5pt;
    color:#0B828A;
    margin-top:-23px;
    text-align:center;
}
div#main-content {
    margin-top:9px;
    margin-bottom:19px;
    background-color:#A9958D;
    min-height:486px;
    width:662px;
    color:#37262D;
    float:left;
}
div#main-content h1 {
    font-size:12pt;
    font-style:italic;
    letter-spacing:2pt;
    padding:0 0 0 55px;
    margin-bottom:12px;
}
div#main-content hr {
    height:1px;
    color:#0099A1;
    background-color:#0099A1;
    border:0;
    margin:0 0 0 125px;
}
div#main-content div {
    float:left;
}
div.left-menu {
    background-color:#0099A1;
    width:120px;
    padding:2px 6px 2px 0px;
    font-size:10.5pt;
    margin-top:-1px;
}
div.main-content-subject {
    margin:-1px 0 0 15px;
    padding-right:15px;
    width:506px;
    min-height:430px;
    overflow-x:hidden;
}
div#gallery-container {
    padding-top:15px;
    overflow-x:hidden;
}
div#slideshow {
    margin-left:-4px;
}
div#caption {
    height:260px;
    padding:0 5px 0 5px;
    overflow:hidden;
    background-color:#DCD9D7;
    font-size:10pt;
    margin-left:4px;
}
div.image-title {
    font-weight:bold;
    margin-bottom:4px;
}
div#caption, div.image-title {
    width:103px;
}
div.caption {
/*    position:absolute;
    bottom:0;*/
    /* Aligner bas */
}
div#slideshow a img {
    border:0;
}
div#thumbs {
    overflow:hidden;
    margin-left:-5px;
}
div#thumbs ul {
    width:3000px;
}
div#gallery-container, div#thumbs {
    width:510px;
}
div#informations {
    float:left;
    width:278px;
    min-height:597px;
    overflow-x:hidden;
    margin:-84px 0 0 10px;
}
div#informations div {
    width:291px;
    border: 1px solid white;
    border-right-style: none;
    margin-bottom:10px;
    background-color:#937B71;
}
div#sub-name {
    height:100px;
    margin-top:73px;
    padding:9px 0 10px 0;
}
div#illustration {
    height:250px;
    background:url('/images/house.jpg') top center no-repeat;
}
div#practical-informations {
    height:101px;
    padding:0 10px 10px 10px;
    overflow:hidden;
    color:white;
}
div#practical-informations p, div#sub-name p {
    margin-top:10px;
    padding-left:10px;
    font-size:9pt;
    line-height:14pt;
}
div#logo {
    position:absolute;
    margin-top:-9px;
    padding-top:8px;
    margin-left:596px;
    width:354px;
    height:148px;
    z-index:10;
    background:url('/images/logo.png') no-repeat;
}
div#logo p {
    padding:1px 0 1px 5px;
    background-color:white;
    font-size:9pt;
    font-weight:bold;
    letter-spacing:3pt;
}
div#logo div {
    float:right;
}
div.links {
    padding-right:3px;
}
div.links ul li {
    display:inline;
    font-size:9pt;
    margin-right:3px;
    color:white;
}
div.links a {
    color:#5C4844;
    font-weight:bold;
}
div.links a:hover {
    color:white;
}
div.link-list ul li {
    font-size:10pt;
}
div.link-list ul li:first-child {
    margin-top:15px;
}
div.link-list ul li a:hover {
    color:white;
}
div#logo-sub-name {
    width:240px;
    margin-top:50px;
}
a.mail:hover {
    text-decoration:underline;
}
